{% extends "homepage.html" %}

{% block Perfil %}
Perfil - {{usuario}}
{% endblock %}

{% block body %}
<body>

{% include "nav.html" %}

<h1><p>Perfil do usuário: {{usuario.name}}</p></h1>
    

{% if form %}

<form method="POST" enctype="multipart/form-data">

{{ form.csrf_token }}

{{ form.foto }}
{{ form.botao_enviar }}
{{ form.tag }}

</form>
{% endif %}



{% for foto in usuario.fotos %}
    <img src="{{ url_for('static', filename='post/' + foto.imagem) }}" alt="Foto do usuário">
{% endfor %}

</body>
{% endblock %}