{% extends "homepage.html" %}

{% block titulo %}
Posta Aqui - Crie sua conta!
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/criarconta.css') }}">
{% endblock %}

{% block body %}
<div class="titulo-com-mascote">
    <img 
      class="mascote-principal" 
      src="{{ url_for('static', filename='imagens_site/Life_5.png') }}" 
      alt="Mascote principal"
    >
    <h1 class="main-title">Posta Aqui</h1>
</div>

{% include "nav.html" %}

<div class="container">
    <div class="form-container">
      <h1 class="welcome-title">Seja Bem-Vindo</h1>
      <h2 class="form-subtitle">Preencha o formulário para criar sua conta</h2>
  
      {% block formulario %}
      <form method="post">
        {{ form.csrf_token }}
  
        <div>
          {{ form.username.label(class="form-label") }}
          {{ form.username(class="form-input") }}
        </div>
  
        <div>
          {{ form.email.label(class="form-label") }}
          {{ form.email(class="form-input") }}
        </div>
  
        <div>
          {{ form.senha.label(class="form-label") }}
          {{ form.senha(class="form-input") }}
        </div>
  
        <div>
          {{ form.confirmacao_de_senha.label(class="form-label") }}
          {{ form.confirmacao_de_senha(class="form-input") }}
        </div>
  
        <div>
          {{ form.conta_botao(class="btn btn-primary") }}
        </div>
      </form>
      {% endblock %}
    </div>
</div>

{% include "routes_nav.html" %}

{% endblock %}
