<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block titulo %}
    PostaAqui 
    {% endblock %}
</title>
</head>
{% block body %}

<h1>Posta Aqui</h1>
<img src="{{url_for('static', filename='imagens_site/Life_5.png') }}" alt="">

<img src="{{url_for('static', filename='imagens_site/Life_4.png') }}" alt="">

<h3>Não tem conta ainda?</h3>
<h2>Não perca seu tempo e</h2>

<nav>
    <a href="{{ url_for('conta') }}"> Crie sua conta!</a>
    <a href="{{ url_for('feed') }}"> Feed</a>
</nav>

<h1> <p> Tela inicial </p></h1>

<h2><p> Seja Bem-Vindo </p></h2>



{% block formulario %}
<form method="post">
    
    {{form.csrf_token }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.senha.label }}
    {{ form.senha }}
    
    {{ form.login_botao }}
    
</form>
{% endblock %}

{% include 'routes_nav.html' %}

</body>
{% endblock %}

</html>